<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>HTML Table</h2>
<p>
    <form method="get">
       <p>Name : <input type="text" name="search"/></p>
       <p>Age : <select name="age">
        <option value="0">All</option>
        <option value="1">18-20</option>
        <option value="2">20-22</option>
        <option value="3">22-24</option>
        <option value="4">24-100</option>
       </select></p>
       <p><input type="submit" value="search"/></p>
    </form>
</p>
<table>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Email</th>
    <th>Age</th>
    <th>Phone</th>
    <th>City</th>
  </tr>
  {% for customer in customers %}
  <tr><td>{{forloop.counter}}</td>
    <td>{{customer.name}}</td>
    <td>{{customer.email}}</td>
    <td>{{customer.age}}</td>
    <td>{{customer.phone}}</td>
    <td>{{customer.city}}</td>
  </tr>
  {% endfor %}
</table>

</body>
</html>

